body {
    background-color: #000000;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.intro {
    text-align: center;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif
}

.text {
    text-align: left;
    font-size: 12px;
    font-family: sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

.image {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto;
}

.contenido {
  display: flex;
  flex-direction: column;
}

.cinnamoroll {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
}